<h1>My Todo list</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
      <%= form_with url:"/articles/#{article.id}",method: :delete do %>
        <input type="submit" name="commit" value="delete">
      <% end %>
    </li>

  <% end %>
</ul>


<form action="/articles" accept-charset="UTF-8" method="post">
  <div>
    <input type="text" name="article[title]" placeholder="What's next?">
    <textarea name="article[body]" id="article_body"></textarea>
    <input type="submit" name="commit" value="Add" data-disable-with="Create Article">
  </div>
</form>